/* titan-one-regular - latin */
@font-face {
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(""),
    url("../fonts/titan-one-v13-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/titan-one-v13-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* dm-sans-regular - latin */
@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(""),
    url("../fonts/dm-sans-v11-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/dm-sans-v11-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* dm-sans-500 - latin */
@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local(""), url("../fonts/dm-sans-v11-latin-500.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/dm-sans-v11-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* dm-sans-700 - latin */
@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(""), url("../fonts/dm-sans-v11-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/dm-sans-v11-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
  --main-font: "DM Sans", sans-serif;
  --secondary-font: "Titan One", sans-serif;

  --primary-text-color: #000000;
  --secondary-text-color: #907e82;
  --primary-accent-text-color: #d41443;
  --secondary-accent-text-color: #ffa5ba;
  --hero-text-color: #ffffff;

  --primary-accent-color: #d41342;
  --secondary-accent-color: #fea5bb;

  --hover-btn-color: #ecebeb;

  --primary-background-color: #e5e5e5;
  --secondary-background-color: #fff5f6;
  --hero-background-color: #ffb8ca;
  --hero-circle-background-color: #ffa5ba;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: var(--main-font);
}

h1,
h2,
h3,
p {
  margin: 0;
}

.list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1080px;
}
/* Section HEADER */
.header {
  background: var(--hero-background-color);
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation-list {
  display: flex;
}

.navigation-list-item:not(:last-child) {
  margin-left: 35px;
}

.navigation-list-link {
  display: block;

  padding-top: 20px;
  padding-bottom: 20px;

  color: var(--hero-text-color);

  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;
}
.navigation-list-link:hover,
.navigation-list-link:focus {
  color: var(--primary-accent-text-color);
}

.button {
  min-width: 159px;
  height: 44px;
  padding-left: 37px;
  padding-right: 37px;

  background-color: #ffffff;
  color: var(--primary-accent-text-color);

  text-align: center;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;

  border: 1px solid transparent;
  border-radius: 22px;

  cursor: pointer;
}
.button:hover,
.button:focus {
  background-color: var(--hover-btn-color);
}

/* Section HERO */
.hero {
  background-color: #ffb8ca;
}

.hero .container {
  display: flex;
}

.first-hero-column {
  margin-top: 171px;
  margin-right: 99px;
}

.hero-title {
  color: var(--hero-text-color);

  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
.hero-title span {
  color: var(--primary-accent-text-color);

  font-size: 58px;
  line-height: 0.9;
}

.hero-list {
  display: flex;

  margin-top: 25px;
}

.hero-list-item:not(:last-child) {
  margin-right: 15px;
}

.hero-list-item-link {
  display: block;

  padding: 11px 23px;

  height: 44px;
  border-radius: 22px;

  background-color: #ffffff;
  color: var(--primary-accent-text-color);

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
}
.hero-list-item-link:hover,
.hero-list-item-link:focus {
  background-color: var(--hover-btn-color);
}

.active {
  background-color: var(--primary-accent-color);
  color: var(--hero-text-color);
}
.active:hover,
.active:focus {
  background-color: var(-- --hover-btn-color);
  color: var(--primary-accent-text-color);
}

.bio-eco {
  display: flex;
  align-items: flex-end;

  margin-top: 60px;
  margin-bottom: 41px;
}

.promo-description {
  width: 200px;

  color: var(--hero-text-color);

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.43;
}

.promo-button {
  width: 26px;
  height: 26px;

  margin-top: 20px;
  margin-bottom: 15px;

  background-color: #ffffff;
  color: var(--primary-accent-text-color);

  border: 1px solid transparent;
  border-radius: 13px;

  cursor: pointer;
}
.promo-button:hover,
.promo-button:focus {
  background-color: var(--hover-btn-color);
}

.hero-ice-cream {
  margin-top: 118px;
}

.second-hero-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  margin-top: 151px;
}

.counters-list {
  margin-bottom: 112px;
}

.counters-list-item:not(:last-child) {
  margin-bottom: 17px;
}

.counters-list-item-description {
  color: var(--hero-text-color);

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  text-align: right;
}

.counters-list-item-description > span {
  color: var(--primary-accent-text-color);

  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 46px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

/* Section PRODUCTS */
.products {
  padding-top: 127px;
  padding-bottom: 119px;
}

/* From sections PRODUCTS, HOW-IT'S-MADE  */
.subtitle {
  margin-bottom: 15px;

  color: var(--secondary-accent-text-color);

  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.13;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.products-title {
  margin-bottom: 259px;

  color: var(--primary-accent-text-color);

  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 58px;
  line-height: 66px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.cards {
  display: flex;
}

.cards-item {
  display: block;

  width: 329px;
  height: 525px;

  padding-top: 165px;
  padding-right: 44px;
  padding-bottom: 50px;
  padding-left: 44px;

  border-radius: 24px;
}
.cards-item:not(:last-child) {
  margin-right: 28px;
}

.card-1 {
  background-color: #ffb8ca;
}
.card-2 {
  background-color: #f0d1a5;
}
.card-3 {
  background-color: #c2e297;
}

.cads-title {
  margin-bottom: 70px;

  color: var(--hero-text-color);

  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.13;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.cards-description {
  margin-bottom: 62px;

  color: var(--hero-text-color);

  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.75;
  text-align: center;
  letter-spacing: 0.04em;
}

.cards-button {
  display: block;

  margin: auto;

  width: 40px;
  height: 40px;

  border: 1px solid transparent;
  border-radius: 20px;

  color: var(--primary-accent-text-color);
}
.cards-button:hover,
.cards-button:focus {
  background-color: var(--primary-accent-color);
  color: #ffffff;
}

/* Section HOW-IT'S-MADE */
.how-made {
  padding-top: 125px;
  padding-bottom: 65px;

  background-color: var(--secondary-background-color);
}

.how-made-title {
  margin-bottom: 55px;

  color: var(--primary-accent-text-color);

  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 58px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.about {
  display: flex;
}

.about > img {
  margin-right: 74px;
}

.about-made {
  padding-top: 51px;
}

.about-made-title {
  margin-bottom: 35px;

  color: var(--primary-text-color);

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0.04em;
}

.about-made-description {
  margin-bottom: 45px;

  color: var(--secondary-text-color);

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.93;
  letter-spacing: 0.04em;
}

.about-made-button {
  width: 176px;
  height: 44px;
  padding-left: 37px;
  padding-right: 38px;

  background-color: #ffffff;
  color: var(--primary-accent-text-color);

  text-align: center;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;

  border: 1px solid transparent;
  border-radius: 22px;

  cursor: pointer;
}
.about-made-button:hover,
.about-made-button:focus {
  background-color: var(--hover-btn-color);
}

/* Section ADVANTAGES */
.advantages {
  padding-top: 64px;
  padding-bottom: 310px;

  background-color: var(--secondary-background-color);
}

.advantages-list {
  display: flex;
}

.advantages-list-item-description > .number {
  margin-bottom: 15px;

  color: var(--primary-accent-text-color);

  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 58px;
  line-height: 1.14;
  text-align: right;
  letter-spacing: 0.04em;
}

.advantages-list-item-description > .text {
  display: block;

  padding-top: 15px;

  color: var(--primary-text-color);

  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0.02em;
}

/* Section GALLERY */
.gallery {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: #2a2a2a;
}

/* Section CUSTOMERS */
.customer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.customer-img {
  display: block;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}

.customer-coment-wrapper {
  margin-left: auto;
  margin-right: auto;
  padding-left: 88px;
  padding-top: 47px;
  padding-right: 88px;
  padding-bottom: 39px;
  width: 926px;
  height: 138px;
}

.customer-coment {
  color: var(--primary-text-color);

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.04em;
}

.customer-carusel {
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--primary-accent-color);
}

.customer-carusel-items {
  margin-right: 10px;
}

.customer-description {
  color: var(--primary-text-color);

  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.85;
  text-align: center;
}

/* Section CONTACTS */
.contacts {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--secondary-background-color);
}

.contacts-list {
  display: flex;

  margin-bottom: 86px;
}

.contacts-list-item {
  padding-top: 51px;
  padding-right: 43px;
  padding-bottom: 62px;
  padding-left: 43px;
  width: 330px;

  background-color: #ffffff;

  border-radius: 24px;
}
.contacts-list-item:not(:last-child) {
  margin-right: 30px;
}

.contacts-accent {
  margin-bottom: 32px;

  width: 73px;
  height: 28px;

  background-color: #f0d1a5;
  color: #ffffff;

  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.04em;

  border-radius: 6px;
}
.green {
  background-color: #c2e297;
}

.contacts-upper-text {
  margin-bottom: 10px;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.88;

  letter-spacing: 0.04em;

  color: var(--primary-text-color);
}

.contacts-text {
  margin-bottom: 64px;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.81;
  letter-spacing: 0.04em;

  color: var(--secondary-text-color);
}

.contacts-routine-list {
  margin-bottom: 64px;
}

.routine-list-item:not(:last-child) {
  margin-bottom: 15px;
}

.routine-list-item-days {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.04em;

  color: var(--primary-text-color);
}

.routine-list-item-time {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.87;

  color: var(--secondary-accent-text-color);
}

.contacts-adress-link {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.81;

  color: var(--secondary-text-color);
}

.contacts-button-list {
  display: flex;
  justify-content: center;
}

.contacts-button-list-item:not(:last-child) {
  margin-right: 15px;
}
.button-accent {
  color: #ffffff;
  background-color: var(--primary-accent-color);
}
.button-accent:hover,
.button-accent:focus {
  color: var(--primary-accent-color);
  background-color: var(--hover-btn-color);
}
