html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  list-style: none;
}

.link {
  text-decoration: none;
}

/* Section HERO */
.hero {
  background-color: #ffb8ca;
}
